.icon-bar {
  position: fixed;
  top: 45%;
  right: 0;
  padding: 0px;
  margin: 2px;
  z-index: 999;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 13px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
  z-index: 999;
}

.instagram {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
  z-index: 999;
}

.instagram:hover {
  background-color: #000;
}

.twitter {
  background: #1da1f2;
  color: white;
  z-index: 999;
}

.download {
  background: #000000;
  color: white;
  z-index: 999;
}

.youtube {
  background: #bb0000;
  color: white;
  z-index: 999;
}

.linkedin {
  background: #0e76a8;
  color: white;
  z-index: 999;
}
